services:
  mariadb:
    image: mariadb:1
    container_name: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "${MYSQL_USER}", "-p${MYSQL_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

  wordpress:
    image: wordpress:1
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pidof", "php-fpm82"]
      interval: 5s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:1
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      wordpress:
        condition: service_healthy
    ports:
      - "443:443"
    restart: unless-stopped

  redis:
    image: redis:1
    container_name: redis
    build:
      context: ./requirements/bonus/redis
      dockerfile: Dockerfile
    networks:
      - inception_network
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  ftp:
    image: ftp:1
    container_name: ftp
    build:
      context: ./requirements/bonus/ftp
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      - wordpress
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    restart: unless-stopped

  adminer:
    image: adminer:1
    container_name: adminer
    build:
      context: ./requirements/bonus/adminer
      dockerfile: Dockerfile
    networks:
      - inception_network
    depends_on:
      - mariadb
    ports:
      - "8080:8080"
    restart: unless-stopped

  redis-commander:
    image: redis-commander:1
    container_name: redis_commander
    build:
      context: ./requirements/bonus/redis-commander
      dockerfile: Dockerfile
    networks:
      - inception_network
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "8082:8081"
    restart: unless-stopped

  static-site:
    image: static-site:1
    container_name: static_site
    build:
      context: ./requirements/bonus/static-site
      dockerfile: Dockerfile
    networks:
      - inception_network
    ports:
      - "3000:3000"
    restart: unless-stopped

volumes:
  mariadb_data:
    name: mariadb_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/riel-fas/data/mariadb

  wordpress_data:
    name: wordpress_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/riel-fas/data/wordpress
  
  

networks:
  inception_network:
    driver: bridge

